/* css for bleeding WHAT.HTML*/
.sprite {
    width: 400px;
    height: 400px;
    background: url(bleedingeyes.png) 0 0 no-repeat;
    animation: play 2s steps(8) infinite;
}
@keyframes play {
    0%{background-position: 0px;}
    100% { background-position: -3200px; }
}